In [1]:
import pandas as pd

In [2]:
countries = pd.read_csv("country-codes_csv.csv")

In [5]:
countries

,official_name_ar,official_name_cn,official_name_en,official_name_es,official_name_fr,official_name_ru,ISO3166-1-Alpha-2,ISO3166-1-Alpha-3,ISO3166-1-numeric,ISO4217-currency_alphabetic_code,...,Least Developed Countries (LDC),MARC,Region Code,Region Name,Small Island Developing States (SIDS),Sub-region Code,Sub-region Name,TLD,WMO,is_independent
0,NaN,NaN,NaN,NaN,NaN,NaN,TW,TWN,158.0,NaN,...,NaN,ch,NaN,NaN,NaN,NaN,NaN,.tw,NaN,Yes
1,أفغانستان,阿富汗,Afghanistan,Afganistán,Afghanistan,Афганистан,AF,AFG,4.0,AFN,...,x,af,142.0,Asia,NaN,34.0,Southern Asia,.af,AF,Yes
2,ألبانيا,阿尔巴尼亚,Albania,Albania,Albanie,Албания,AL,ALB,8.0,ALL,...,NaN,aa,150.0,Europe,NaN,39.0,Southern Europe,.al,AB,Yes
3,الجزائر,阿尔及利亚,Algeria,Argelia,Algérie,Алжир,DZ,DZA,12.0,DZD,...,NaN,ae,2.0,Africa,NaN,15.0,Northern Africa,.dz,AL,Yes
4,ساموا الأمريكية,美属萨摩亚,American Samoa,Samoa Americana,Samoa américaines,Американское Самоа,AS,ASM,16.0,USD,...,NaN,as,9.0,Oceania,x,61.0,Polynesia,.as,NaN,Territory of US
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,الصحراء الغربية,西撒哈拉,Western Sahara,Sáhara Occidental,Sahara occidental,Западная Сахара,EH,ESH,732.0,MAD,...,NaN,ss,2.0,Africa,NaN,15.0,Northern Africa,.eh,NaN,In contention
246,اليمن,也门,Yemen,Yemen,Yémen,Йемен,YE,YEM,887.0,YER,...,x,ye,142.0,Asia,NaN,145.0,Western Asia,.ye,YE,Yes
247,زامبيا,赞比亚,Zambia,Zambia,Zambie,Замбия,ZM,ZMB,894.0,ZMW,...,x,za,2.0,Africa,NaN,202.0,Sub-Saharan Africa,.zm,ZB,Yes
248,زمبابوي,津巴布韦,Zimbabwe,Zimbabwe,Zimbabwe,Зимбабве,ZW,ZWE,716.0,ZWL,...,NaN,rh,2.0,Africa,NaN,202.0,Sub-Saharan Africa,.zw,ZW,Yes
249,جزر ألاند,奥兰群岛,Åland Islands,Islas Åland,Îles d'Åland,Аландские острова,AX,ALA,248.0,EUR,...,NaN,NaN,150.0,Europe,NaN,154.0,Northern Europe,.ax,NaN,Part of FI

In [6]:
df = pd.read_csv("train.csv")

In [8]:
df["Country_Region"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Brazil', 'Brunei',
       'Bulgaria', 'Burkina Faso', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Congo (Brazzaville)', 'Congo (Kinshasa)',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus',
       'Czechia', 'Denmark', 'Diamond Princess', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia',
       'Fiji', 'Finland', 'France', 'Gabon', 'Gambia', 'Georgia',
       'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Holy See', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq',
       'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Korea, South', 'Kuwait', 'Kyrgyzstan',
       'Laos', 'Latvia', 'Lebanon', 'Liberia', 'Libya', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'Madagascar', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Moldova',
       'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique',
       'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'North Macedonia', 'Norway', 'Oman',
       'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia',
       'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'San Marino', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Singapore', 'Slovakia',
       'Slovenia', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka',
       'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan*',
       'Tanzania', 'Thailand', 'Timor-Leste', 'Togo',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'US', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom', 'Uruguay',
       'Uzbekistan', 'Venezuela', 'Vietnam', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [11]:
age = pd.read_excel("API_SP.POP.65UP.TO.ZS_DS2_en_excel_v2_887753.xls")

In [12]:
age.head()

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63
0,Last Updated Date,2020-03-18 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Country Name,Country Code,Indicator Name,Indicator Code,1960.000000,1961.000000,1962.000000,1963.000000,1964.000000,1965.000000,...,2010.000000,2011.000000,2012.000000,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.0
3,Aruba,ABW,Population ages 65 and above (% of total popul...,SP.POP.65UP.TO.ZS,2.482891,2.584870,2.690974,2.800952,2.929934,3.078801,...,10.288288,10.583462,10.920437,11.298093,11.707171,12.137127,12.604890,13.073477,13.550947,NaN
4,Afghanistan,AFG,Population ages 65 and above (% of total popul...,SP.POP.65UP.TO.ZS,2.798308,2.808131,2.804113,2.786171,2.754223,2.708892,...,2.328132,2.354462,2.386294,2.420207,2.451575,2.478662,2.519923,2.554251,2.584927,NaN